* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: var(--color-bg);
  background-image: url("./assets/backgroundImage.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 90rem 100%;
  border-radius: 0;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  height: 100.1%
}

a {
  color: unset;
  text-decoration: none;
}

.sectionPadding {
  padding: 4rem 6rem;
}

.scaleUpCenter {
	-webkit-animation: scaleUpCenter 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scaleUpCenter 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scaleUpCenter {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scaleUpCenter {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}


@media screen and (min-width: 93.75rem) {
  body {
    background-size: 100% 100%;
  }
}

@media screen and (max-width: 43.75rem) {
  .sectionPadding {
    padding: 4rem;
  }

  .sectionMargin {
    margin: 4rem;
  }
}

@media screen and (max-width: 34.375rem) {
  .sectionPadding {
    padding: 4rem 2rem 0 2rem;
  }

  .sectionMargin {
    margin: 4rem 2rem;
  }  
}